
SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 2

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 10

SSM::set StateMachine/handle true
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 2

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front true
SSM::set StateMachine/gear_extended_left true
SSM::set StateMachine/gear_extended_right true
SSM::set StateMachine/gear_retracted_front false
SSM::set StateMachine/gear_retracted_left false
SSM::set StateMachine/gear_retracted_right false
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front true
SSM::set StateMachine/gear_retracted_left true
SSM::set StateMachine/gear_retracted_right true
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front true
SSM::set StateMachine/gear_retracted_left true
SSM::set StateMachine/gear_retracted_right true
SSM::set StateMachine/door_closed_front false
SSM::set StateMachine/door_closed_left false
SSM::set StateMachine/door_closed_right false
SSM::set StateMachine/door_open_front true
SSM::set StateMachine/door_open_left true
SSM::set StateMachine/door_open_right true
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front true
SSM::set StateMachine/gear_retracted_left true
SSM::set StateMachine/gear_retracted_right true
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front true
SSM::set StateMachine/gear_retracted_left true
SSM::set StateMachine/gear_retracted_right true
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 10

SSM::set StateMachine/handle false
SSM::set StateMachine/analogical_switch false
SSM::set StateMachine/gear_extended_front false
SSM::set StateMachine/gear_extended_left false
SSM::set StateMachine/gear_extended_right false
SSM::set StateMachine/gear_retracted_front true
SSM::set StateMachine/gear_retracted_left true
SSM::set StateMachine/gear_retracted_right true
SSM::set StateMachine/door_closed_front true
SSM::set StateMachine/door_closed_left true
SSM::set StateMachine/door_closed_right true
SSM::set StateMachine/door_open_front false
SSM::set StateMachine/door_open_left false
SSM::set StateMachine/door_open_right false
SSM::set StateMachine/shock_absorber_front false
SSM::set StateMachine/shock_absorber_left false
SSM::set StateMachine/shock_absorber_right false
SSM::cycle 1
