SSM::set Voter3x1/in1 false
SSM::set Voter3x1/in2 false
SSM::set Voter3x1/in3 false
SSM::cycle 1
SSM::set Voter3x1/in1 true
SSM::set Voter3x1/in2 true
SSM::set Voter3x1/in3 true
SSM::cycle 1
SSM::set Voter3x1/in1 true
SSM::set Voter3x1/in2 true
SSM::set Voter3x1/in3 true
SSM::cycle 1
SSM::set Voter3x1/in1 true
SSM::set Voter3x1/in2 false
SSM::set Voter3x1/in3 false
SSM::cycle 1
SSM::set Voter3x1/in1 true
SSM::set Voter3x1/in2 true
SSM::set Voter3x1/in3 true
SSM::cycle 1
SSM::set Voter3x1/in1 false
SSM::set Voter3x1/in2 true
SSM::set Voter3x1/in3 true
SSM::cycle 1
SSM::set Voter3x1/in1 false
SSM::set Voter3x1/in2 false
SSM::set Voter3x1/in3 true
SSM::cycle 1
SSM::set Voter3x1/in1 true
SSM::set Voter3x1/in2 true
SSM::set Voter3x1/in3 true
SSM::cycle 1